*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-family: sans-serif;
  letter-spacing: 2px;
  padding-left: 10%;
  padding-top: 10%;
}


#header{
  width: 100%;
  background-color: black;
  overflow: auto;
  height: 260 px;
}

ul.menu-topo{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
  justify-content: space-between;
}
ul.menu-topo li{
  float: right;
}
ul.menu-topo li a{
  color: white;
  text-decoration: none;
  width: 130px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 0.9px;
}
ul.menu-topo li a:hover{
  color: rgba(255,255,255, .8);
  transition: .3s;
}

.form-pesquisa{
  margin-top: 15px;
  float: left;
  margin-right: 100px;
}
#text{
  width: 300px;
  border-radius: 15px;
  margin-left: 30px;
  padding: 8px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
.btn{
  float: right;
  background-color: white;
  cursor: pointer;
  position: relative;
  padding: 5.5px;
  font-family: sans-serif;
  border-radius: 20px;
  left: 0%;
  top: 18.5%;
}
.cart{
  margin: 12px;
  margin-left: 0px;
  float: left;
  background-color: white;
  cursor: pointer;
  position: relative;
  padding: 5.5px;
  border-radius: 20px;
}

.banner-logo{
  text-decoration: none;
  width: 100%;
  height: 180px;
  background-color: black;
  font-family: verdana;
  letter-spacing: 2px;
  text-decoration: underline;
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 35px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
/*media queries*/
@media only screen and (max-width:500px){
  .banner-logo{
    font-size: 20px;
  }
}

#linha{
  width: 100px;
  border-bottom: .5px solid white;

}

.banner-container{
  width: 100%;
  height: 280px;
  background-color: black;
}
.banner{
  margin:auto;
  padding:0;
  width: 80%;
  height: 280px;
  text-align: center;
}



#menu-meio{
  width: 100%;
  height:60px;
  background-color: white;
  border-bottom: 1px solid black;
}

.menu-marcas{
  height: 60px;
  margin: 0;
  padding: 0;
}

ul.marcas{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  line-height: 60px;
  justify-content: space-between;
}
ul.marcas li{
  cursor: pointer;
  text-align: center;
  flex:1;

}
ul.marcas li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 0.9px;
}

ul.marcas li:hover{
  cursor: pointer;
  background-color: rgba(0,0,0, .3);
  transition: .4s;
}


/*Estilo da Caixa de Produtos em destaque*/
.container{
  width:70%;
  margin: auto;
}

.item-box{
  float: left;
}

.imagem-item{
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.item-box:hover{

  border-bottom: 1px solid rgba(0,0,0, .8);
}
.produtos-destaque{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin-bottom: 100px;
  margin-top: 80px;
}

.item-img{
  width: 250px;
  height: 250px;
  text-align: center;
}
.item-leg{
  color: black;
  font-family: sans-serif;

  width: 250px;
  text-align: center;
}

/*formularios cadastro*/
#form-cadastro{
  width: 70%;
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 2px;
  position: relative;
  left: 15%;
}
#form-cadastro ul li{
  list-style: none;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 15px;
  padding-left: 5%;
  font-size: 16px;
  font-family: sans-serif;
}
#form-cadastro input[type=text]{
  border-radius: 15px;
  padding: 8px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
#form-cadastro input[type=password]{
  border-radius: 15px;
  padding: 8px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
#form-cadastro input[type=submit]{
  cursor: pointer;
  border-radius: 15px;
  padding: 8px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
#form-cadastro p{
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 5%;
}




/*Estilo do Rodapé*/

footer{
  width: 100%;
  height: 250px;
  background-color: black;
  padding-top: 15px;

}
.conteudo-container{
  justify-content: space-between;

}

ul.conteudo{
  text-align: left;
  width: 100%;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  list-style-type: none;
  color: white;
}
ul.conteudo li a {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
  letter-spacing: 0.9px;
  text-decoration: none;
}
ul.conteudo  li a:hover{
  color: rgba(255,255,255, .8);
  transition: .3s;
}

ul.redes{
  padding-left: 15px;
  display: flex;
  width: 25px;
  list-style-type: none;
  cursor: pointer;
  position: absolute;
  justify-content: space-between;

}
ul.redes li{
  justify-content: space-between;
  padding-top: 2px;
  border-radius: 5px;
  background-color: white;
}
ul.redes li  a {
  justify-content: space-between;
}
ul.redes li:hover{
  transform: scale(1.1);
  background-color: rgba(255,255,255,.9);

}

/*pag do produto*/
.carrinho{
  width:70%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;

}

.parte-esquerda{
  width: 65%;
  position: relative;
}
.parte-esquerda imagem-produto{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px;
}
.parte-direita{
  width: 35%;
  margin-top: 60px;

}
.desc-produto span{
  font-family: sans-serif;
  font-size: 12px;
  color: steelblue;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.desc-produto h1{
  font-family: sans-serif;
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.desc-produto p{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}
.desc-produto{
  border-bottom: 1px solid rgba(255,255,255,.9);
  margin-bottom: 20px;
}
.desc-produto hr{
  color: #86939E;
}
.tamanhos span{
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.tamanhos{
  font-size: 22px;
  margin-bottom: 20px;
}
.tamanhos button{
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
.tamanhos button:hover{
  border: 2px solid #86939E;
  outline: none;
}
.preço span{
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
.add-carrinho{
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.add-carrinho:hover {
  background-color: #64af3d;
}

/*carrinho*/
@import "<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald&display=swap" rel="stylesheet"> ";
.carrinho-produto span{
  font-family: 'Open Sans Condensed', sans-serif;
}
.linha-produto{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.img-carrinho-produto{
  width: 33%;
  border-right: 1px solid #86939E;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 150px;
}
.detalhe-produto-carrinho{
  font-family: 'Oswald', sans-serif;
  padding-top: 45px;
  line-height: 30px;
  text-align: center;
  width: 33%;
  border-right: 1px solid #86939E;
  margin-right: 5px;
  margin-bottom: 10px;
  height: 150px;
}
.preço-produto-carrinho{
  font-family: 'Oswald', sans-serif;
  padding-top: 15px;
  line-height: 30px;
  text-align: center;
  width: 33%;
}
.info-cliente{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
  border: 2px solid grey;
  border-radius: 5px;
}
.info-cliente span{
  font-size: 20px;
  font-style: oblique;
}

.form-cadastroProduto p{
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}
.form-cadastroProduto label{
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
}
.form-cadastroProduto input[type=text]{
  font-size: 22px;
  border-radius: 5px;
  border: 1px solid black;
  width: 250px;
}
.form-cadastroProduto input[type=file]{
  border-radius: 5px;
  border: .5px solid black;
  width: 250px;
}
.form-cadastroProduto input[type=submit]{
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  padding: 8px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
.form-cadastroProduto select{
  border-radius: 5px;
  border: .5px solid black;
  width: 250px;
  font-size: 14px;  
}
