body{
	width: 1000px;
	text-align: center;

}

a:hover{
	color: #ae841a;
}

.propaganda{
	clear: left;
	clear: right;
	clear: both;
	clear: top;
}
/* Estilo do Cabeçalho*/

#cabecalho{
	width: 1000px;
	height: 100px;
	border: 3px solid black;
	margin: 5px 5px 5px 5px;
}

#Busca{
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#criar-conta{
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

#logo-marca{
	clear: left;
	clear: right;
	clear: both;
	clear: top; 
}

/*Estilo da Barra Lateral por categorias*/
#lista-categorias{
	width: 300px;
	height: 500px;
	background-color: white;
	border: 3px solid black;
	font-size: 30px;
	margin-right: 10px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 15px;
	float: left;
}

.editaItensCategoria{
	padding-bottom: 10px;
	padding-top: 10px;
	list-style-type: none;
}

.Links-categorias {
	color: black;
	text-decoration: none;
}

.img-categorias{
	width: 20px;
	height: 20px;
}

/*Estilo da Caixa de Produtos em destaque*/

#produtos-destaque{
	height: 600px;
	width: 600px;
	border: 3px solid black;
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#img1left{
	width: 250px;
	height: 250px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

#img2left{
	width: 250px;
	height: 250px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

#img1right{
	width: 250px;
	height: 250px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

#img2right{
	width: 250px;
	height: 250px;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
}

/*Estilo caixa de anúncios*/

#anuncios{
	width: 1000px;
	border: 3px solid black;
	float: left;
}

#img-anuncio{
	width: 1000px;
	margin-top: 30px;
}

/*Estilo do Rodapé*/

#rodape{
	width: 1000px;
	float: left;
	border: 3px solid black;
}

