body{
	width: 1280px;
	position: absolute;
	left: 15%;
	right: 15%;
	background-color: white;

}

a:hover{
	color: #ae841a;
}

hr{
	background-color: #ae841a;

}

.propaganda{
	clear: left;
	clear: right;
	clear: both;
	clear: top;
}
/* Estilo do Cabeçalho*/

#cabecalho{
	width: 1280px;
	height: 100px;
	border: 3px solid black;
	margin: 5px 5px 5px 5px;
}

#Busca{
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}

#criar-conta{
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

#logo-marca{
	text-align: center;
	clear: left;
	clear: right;
	clear: both;
	clear: top; 
}

/*Estilo da Barra Lateral por categorias*/
#lista-categorias{
	width: 350px;
	height: 600px;
	background-color: white;
	border: 5px solid black;
	font-size: 30px;
	margin-right: 10px;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 15px;
	float: left;
	border-radius: 30px;
}

.editaItensCategoria{
	padding-bottom: 10px;
	padding-top: 10px;
	list-style-type: none;
}

.Links-categorias {
	color: black;
	text-decoration: none;
}

.img-categorias{
	width: 20px;
	height: 20px;
}

.img-redesocial{
	height: 20px;
	width: 20px;
	float: bottom;
}

/*Estilo da Caixa de Produtos em destaque*/

#produtos-destaque{
	height: 900px;
	width: 800px;
	/*border: 3px solid black;*/
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#img1left{
	width: 350px;
	height: 420px;
	margin: 5px 5px 5px 5px;
	border: 3px solid #ae841a;
}

#img2left{
	width: 350px;
	height: 420px;
	margin: 5px 5px 5px 5px;
	border: 3px solid #ae841a;
}

#img1right{
	width: 350px;
	height: 420px;
	margin: 5px 5px 5px 5px;
	border: 3px solid #ae841a;
}

#img2right{
	width: 350px;
	height: 420px;
	margin: 5px 5px 5px 5px;
	border: 3px solid #ae841a;
}

/*Estilo caixa de anúncios*/

#anuncios{
	width: 1100px;
	border: 3px solid black;
	float: left;
	position: relative;
	left: 8%;
	right: 8%;
}

#img-anuncio{
	width: 1100px;
	margin-top: 30px;
}

/*Estilo do Rodapé*/

#rodape{
	width: 1280px;
	float: left;
	border: 3px solid black;
}

