*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  width: 100%;
  background-color: black;
  overflow: auto;
  height: 60px;
}

ul.menu-topo{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
}
ul.menu-topo li{
  float: right;
}
ul.menu-topo li a{
  color: white;
  text-decoration: none;
  width: 130px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 0.9px;
}
ul.menu-topo li a:hover{
  color: rgba(255,255,255, .8);
  transition: .3s;
}

.form-pesquisa{
  margin-top: 15px;
  float: left;
  margin-right: 100px;
}
input[type=text]{
  border-radius: 15px;
  margin-left: 30px;
  padding: 8px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
.btn{
  float: right;
  background-color: white;
  cursor: pointer;
  position: absolute;
  padding: 5.5px;
  font-family: sans-serif;
  border-radius: 20px;
}
.cart{
  margin: 12px;
  float: left;
  background-color: white;
  cursor: pointer;
  position: absolute;
  padding: 5.5px;
  border-radius: 20px;
}

.banner{
  width: 100%;
  height: 250px;
  background-color: black;
}
#linha{
  width: 80%;
  border-bottom: .5px solid white;
}
