*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  width: 100%;
  background-color: black;
  overflow: auto;
  height: 60px;

}

ul.menu-topo{
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 60px;
  justify-content: space-between;
}
ul.menu-topo li{
  float: right;
}
ul.menu-topo li a{
  color: white;
  text-decoration: none;
  width: 130px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 0.9px;
}
ul.menu-topo li a:hover{
  color: rgba(255,255,255, .8);
  transition: .3s;
}

.form-pesquisa{
  margin-top: 15px;
  float: left;
  margin-right: 100px;
}
input[type=text]{
  width: 300px;
  border-radius: 15px;
  margin-left: 30px;
  padding: 8px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
.btn{
  float: right;
  background-color: white;
  cursor: pointer;
  position: absolute;
  padding: 5.5px;
  font-family: sans-serif;
  border-radius: 20px;
}
.cart{
  margin: 12px;
  margin-left: 0px;
  float: left;
  background-color: white;
  cursor: pointer;
  position: absolute;
  padding: 5.5px;
  border-radius: 20px;
}

.banner{
  width: 100%;
  height: 250px;
  background-color: black;
}
#linha{
  width: 100px;
  border-bottom: .5px solid white;

}


#menu-meio{
  width: 100%;
  height:60px;
  background-color: white;
  border-bottom: 1px solid black;
}

.menu-marcas{
  height: 60px;
  margin: 0;
  padding: 0;
}

ul.marcas{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  line-height: 60px;
  justify-content: space-between;
}
ul.marcas li{
  cursor: pointer;
  text-align: center;
  flex:1;

}
ul.marcas li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 0.9px;
}

ul.marcas li:hover{
  background-color: rgba(0,0,0, .1);
}


/*Estilo da Caixa de Produtos em destaque*/
.container{
  width:70%;
  margin: auto;
}

.itens{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
article{
  width:250px;
  height: 250px;
  background-color: lightgrey;

  transition:0.5s;/*transiçao do movimento*/
  border-bottom: 10px solid rgba(48,15,107,0);
  margin-top: 50px;
  margin-bottom: 60px;
}

figcaption{
  margin-top: 260px;
  text-align: center;
  letter-spacing: 0.5px;


}

.produtos{
	width: 350px;
	height: 420px;

	margin: 5px 5px 5px 5px;
	border: 3px solid #ae841a;
}



/*Estilo do Rodapé*/

footer{
  width: 100%;
  height: 250px;
  background-color: black;
  padding-top: 20px;
}

ul.conteudo{
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  list-style-type: none;
  color: white;
}
ul.conteudo li a {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
  letter-spacing: 0.9px;
  text-decoration: none;
}
ul.redes li{
    list-style-type: none;
}
ul.redes li a{
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  background-color: white;
}
.conteudo-container{
  display: flex;
}
